{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
<div class='logincontainer'>
    <form class='loginform' method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous ëtes déjà connecté sous: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>
            </div>
        {% endif %}

        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class='logincontainerbtn'>
        <button class="btn" type="submit">
            Se Connecter
        </button>
        <button class="btn" type="submit">
            Créer un compte
        </button>
        </div>
    </form>
</div>
{% endblock %}
