{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
<div class='logincontainer'>
    <form class='loginform flex-column' method="post">
        {% if error %}
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="info">
                Vous êtes déjà connecté sous: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
            </div>
        {% endif %}

        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="email" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class='logincontainerbtn flex-row'>
        <button class="btn" type="submit">
            Se Connecter
        </button>
        <a href="{{path('app_fr_utilisateur_uti_new')}}">
        <button class="btn" type="button">
            Créer un compte
        </button>
        </a>
        </div>
    </form>
</div>
{% endblock %}
