{% extends 'base.html.twig' %}

{% block title %}FrMarqueMar index{% endblock %}

{% block body %}
    <h1>FrMarqueMar index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mar_nom</th>
                <th>Mar_date_add</th>
                <th>Mar_date_edit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fr_marque_mar in fr_marque_mars %}
            <tr>
                <td>{{ fr_marque_mar.id }}</td>
                <td>{{ fr_marque_mar.marNom }}</td>
                <td>{{ fr_marque_mar.marDateAdd ? fr_marque_mar.marDateAdd|date('Y-m-d') : '' }}</td>
                <td>{{ fr_marque_mar.marDateEdit ? fr_marque_mar.marDateEdit|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_fr_marque_mar_show', {'id': fr_marque_mar.id}) }}">show</a>
                    <a href="{{ path('app_fr_marque_mar_edit', {'id': fr_marque_mar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fr_marque_mar_new') }}">Create new</a>
{% endblock %}
