{% extends 'base.html.twig' %}

{% block title %}FrMarqueMar{% endblock %}

{% block body %}
    <h1>FrMarqueMar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fr_marque_mar.id }}</td>
            </tr>
            <tr>
                <th>Mar_nom</th>
                <td>{{ fr_marque_mar.marNom }}</td>
            </tr>
            <tr>
                <th>Mar_date_add</th>
                <td>{{ fr_marque_mar.marDateAdd ? fr_marque_mar.marDateAdd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mar_date_edit</th>
                <td>{{ fr_marque_mar.marDateEdit ? fr_marque_mar.marDateEdit|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fr_marque_mar_index') }}">back to list</a>

    <a href="{{ path('app_fr_marque_mar_edit', {'id': fr_marque_mar.id}) }}">edit</a>

    {{ include('fr_marque_mar/_delete_form.html.twig') }}
{% endblock %}
