{% extends 'base.html.twig' %}

{% block title %}FrDomaineDom{% endblock %}

{% block body %}
    <h1>FrDomaineDom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fr_domaine_dom.id }}</td>
            </tr>
            <tr>
                <th>Dom_nom</th>
                <td>{{ fr_domaine_dom.domNom }}</td>
            </tr>
            <tr>
                <th>Dom_date_add</th>
                <td>{{ fr_domaine_dom.domDateAdd ? fr_domaine_dom.domDateAdd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Dom_date_edit</th>
                <td>{{ fr_domaine_dom.domDateEdit ? fr_domaine_dom.domDateEdit|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fr_domaine_dom_index') }}">back to list</a>

    <a href="{{ path('app_fr_domaine_dom_edit', {'id': fr_domaine_dom.id}) }}">edit</a>

    {{ include('fr_domaine_dom/_delete_form.html.twig') }}
{% endblock %}
