{% extends 'base.html.twig' %}

{% block title %}FrUtilisateurUti index{% endblock %}

{% block body %}
    <h1>FrUtilisateurUti index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Uti_nom</th>
                <th>Uti_prenom</th>
                <th>Uti_naissance_date</th>
                <th>Uti_avatar</th>
                <th>Uti_date_add</th>
                <th>Uti_date_edit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fr_utilisateur_uti in fr_utilisateur_utis %}
            <tr>
                <td>{{ fr_utilisateur_uti.id }}</td>
                <td>{{ fr_utilisateur_uti.email }}</td>
                <td>{{ fr_utilisateur_uti.roles ? fr_utilisateur_uti.roles|json_encode : '' }}</td>
                <td>{{ fr_utilisateur_uti.password }}</td>
                <td>{{ fr_utilisateur_uti.utiNom }}</td>
                <td>{{ fr_utilisateur_uti.utiPrenom }}</td>
                <td>{{ fr_utilisateur_uti.utiNaissanceDate ? fr_utilisateur_uti.utiNaissanceDate|date('Y-m-d') : '' }}</td>
                <td>{{ fr_utilisateur_uti.utiAvatar }}</td>
                <td>{{ fr_utilisateur_uti.utiDateAdd ? fr_utilisateur_uti.utiDateAdd|date('Y-m-d') : '' }}</td>
                <td>{{ fr_utilisateur_uti.utiDateEdit ? fr_utilisateur_uti.utiDateEdit|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_fr_utilisateur_uti_show', {'id': fr_utilisateur_uti.id}) }}">show</a>
                    <a href="{{ path('app_fr_utilisateur_uti_edit', {'id': fr_utilisateur_uti.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fr_utilisateur_uti_new') }}">Create new</a>
{% endblock %}
