{% extends 'base.html.twig' %}

{% block title %}Gestion Utilisateur{% endblock %}

{% block body %}
    <h1>Gestion des Utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
                <th>Uti_avatar</th>
                <th>Date d'ajout</th>
                <th>Date d'édition</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fr_utilisateur_uti in fr_utilisateur_utis %}
            <tr>
                <td>{{ fr_utilisateur_uti.id }}</td>
                <td>{{ fr_utilisateur_uti.email }}</td>
                <td>{{ fr_utilisateur_uti.roles ? fr_utilisateur_uti.roles|json_encode : '' }}</td>
                <td>{{ fr_utilisateur_uti.utiNom }}</td>
                <td>{{ fr_utilisateur_uti.utiPrenom }}</td>
                <td>{{ fr_utilisateur_uti.utiNaissanceDate ? fr_utilisateur_uti.utiNaissanceDate|date('Y-m-d') : '' }}</td>
                {% if fr_utilisateur_uti.utiAvatar == "" %}
                <td><img class='avatar' src="/logo/user.svg" alt="photo de profil" class="img-profil"></td>
                {% else %}
                <td><img class='avatar' src="data:image/jpeg;base64,{{ fr_utilisateur_uti.utiAvatar }}" alt="photo de profil" class="img-profil"></td>
                {% endif %}
                <td>{{ fr_utilisateur_uti.utiDateAdd ? fr_utilisateur_uti.utiDateAdd|date('Y-m-d') : '' }}</td>
                <td>{{ fr_utilisateur_uti.utiDateEdit ? fr_utilisateur_uti.utiDateEdit|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_fr_utilisateur_uti_show', {'id': fr_utilisateur_uti.id}) }}">show</a>
                    <a href="{{ path('app_fr_utilisateur_uti_edit', {'id': fr_utilisateur_uti.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fr_utilisateur_uti_new') }}">Create new</a>
{% endblock %}
