{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class='container'>
        <h1>Mon compte</h1>
        <img src="data:image/jpeg;base64,{{ fr_utilisateur_uti.utiAvatar }}" alt="photo de profil" class="img-profil">

        <table class="table">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ fr_utilisateur_uti.email }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ fr_utilisateur_uti.utiNom }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ fr_utilisateur_uti.utiPrenom }}</td>
                </tr>
                <tr>
                    <th>né le:</th>
                    <td>{{ fr_utilisateur_uti.utiNaissanceDate ? fr_utilisateur_uti.utiNaissanceDate|date('Y-m-d') : '' }}</td>
                </tr>
                {# <tr>
                    <th>Uti_avatar</th>
                    <td>{{ fr_utilisateur_uti.utiAvatar }}</td>
                </tr> #}
                <tr>
                    <th>Membre depuis le:</th>
                    <td>{{ fr_utilisateur_uti.utiDateAdd ? fr_utilisateur_uti.utiDateAdd|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a class='links' href="{{ path('app_fr_utilisateur_uti_index') }}">back to list</a>

        <a class='links' href="{{ path('app_fr_utilisateur_uti_edit', {'id': fr_utilisateur_uti.id}) }}">edit</a>
    </div>

    {{ include('fr_utilisateur_uti/_delete_form.html.twig') }}
{% endblock %}
