{% extends 'base.html.twig' %}

{% block title %}FrRemplacementRem{% endblock %}

{% block body %}
    <h1>FrRemplacementRem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fr_remplacement_rem.id }}</td>
            </tr>
            <tr>
                <th>Rem_qte</th>
                <td>{{ fr_remplacement_rem.remQte }}</td>
            </tr>
            <tr>
                <th>Rem_cause</th>
                <td>{{ fr_remplacement_rem.remCause }}</td>
            </tr>
            <tr>
                <th>Rem_date_add</th>
                <td>{{ fr_remplacement_rem.remDateAdd ? fr_remplacement_rem.remDateAdd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Rem_date_edit</th>
                <td>{{ fr_remplacement_rem.remDateEdit ? fr_remplacement_rem.remDateEdit|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fr_remplacement_rem_index') }}">back to list</a>

    <a href="{{ path('app_fr_remplacement_rem_edit', {'id': fr_remplacement_rem.id}) }}">edit</a>

    {{ include('fr_remplacement_rem/_delete_form.html.twig') }}
{% endblock %}
